/*
<selector> {
    <nombre-prop-1>: <valor>;
    <nombre-prop-2>: <valor>;
    <nombre-prop-3>: <valor>;
}
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin-top: 3.8rem;
    margin-left: 5px;
    margin-right: 5px;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    nav {
        font-size: 0.8rem;
    }
}

li {
    display: inline;
    vertical-align: middle;
    margin-left: 15px;
}

ul {
    background-color: whitesmoke;
    height: 30px;
    text-align: right;
}

header {
    background-color: cornsilk;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3rem;
}

#h1-titulo-web {
    font-weight: 10;
    font-size: 40px;
}


/* Selector descendiente: el espacio: Cualquier H1 descendiente (hijo, nieto...) de cualquier section */

section h1 {
    font-size: 30px;
}


/* Selector de hijo directo, más espefíco y por lo tanto, mayor prioridad.*/

article>h1 {
    font-size: 20px;
}


/* las clases empiezan por punto, son el elector más usado (o debería serlo) */

.titulo-articulo {
    font-size: 16px;
}

.borde-suave-azul {
    border: black solid 2px;
}

.contenido {
    border: black solid 2px;
    margin: 14px 10%;
    padding: 2rem 0.5rem 1rem 0.5rem;
    border-radius: 15px;
}

.contenido>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 10px;
}

.articulo {
    border: solid;
    border-radius: 15px;
    margin: 5px 0px;
    padding: 3px 10px;
}

@media all and (min-width: 1100px) {
    .articulo {
        width: 30%;
    }
    nav {
        height: 40px;
    }
}

@media all and (min-width: 700px) and (max-width: 1100px) {
    .articulo {
        width: 45%;
    }
    nav {
        height: 30px;
    }
}

@media all and (max-width: 700px) {
    .articulo {
        min-width: calc(100% - 30px);
        min-height: 8rem;
    }
}

.articulo>* {
    display: block;
    margin: 1rem 0rem 0.25rem 0rem;
}

.articulo {
    transition: all 1s;
}

.articulo:hover {
    border-color: chartreuse;
    background-color: yellow;
    transition: all 1s;
    font-size: 0.7rem;
}

.articulo-seleccionado {
    border-color: red;
    background-color: lightyellow;
    transition: all 1s;
    font-size: 0.7rem;
}